body{
	font-family: 'RalewayRegular';
}
header{
	background-color: #D0FF00;
	min-height: 40px;
	padding: 1px 0 20px 0;
}
.log{
	float: left;
}
.log li{
	list-style-type: none;
	display: inline-block;
}
.log li:last-child{
	margin-left: 60px;
}
.log a{
	text-decoration: none;
	color: #464646;
	font-size: 20px;
}
.singbut{
	float: right;
}
.singbut a{
	text-decoration: none;
	color: #464646;
	font-size: 20px;
}
.singbut a:first-child{
	padding-right: 20px;
}
.singbut li{
	display: inline-block;
}
.center {
    margin: 17% 20% 0% 25%;
    padding: 10px;
    background-color: #FFDD00;
}
.center_suc{
	margin: 17% 20% 0% 25%;
    padding: 10px;
    background-color: #4AB04A;
}
.center h2{
	text-align: center;
	margin: 20px;
	color: #f0f0f0;
	font-size: 70px;
	font-family: 'RobotoBold';
}
.center_suc h2{
	text-align: center;
	margin: 20px;
	color: #f0f0f0;
	font-size: 70px;
	font-family: 'RobotoBold';
}
.centersing {
    margin: 5% 35% 0% 35%;
    padding: 30px 0 20px 50px;
    background-color: #FFDD00;
}
.centersing input{
	font-family: 'RalewayRegular';
	color: #0E70A9;
	font-size: 20px;
	margin: 20px;
	display: block;
	width: 250px;
	height: 35px;
}
.centersing input:hover{
	color: #0D9DD8;
}
.doregit input {
	color: #f0f0f0;
	font-size: 18px;
	letter-spacing: 5px;
	font-family: 'RalewayRegular';
    background-color: #0899FF;
    height: 42px;

}
.doregit input:hover{
	color: white;
	cursor: pointer;
	background-color: #0089D8;
}
.profile{
	font-family: 'RalewayRegular';
	width: 50%;
	margin-top: 20px;
	margin-left: 20px;
}
.img{
	float: left;
}
.img img{
	width: 100px;
	height: 110px;
}
.info{
	float: left;
}
.info li{
	list-style-type: none;
	
}
.log img {
	margin-right: 10px;
    border-radius: 30px;
    float: left;
    width: 54px;
    height: 50px;
    display: block;
    margin-top: -10px;
}